<html ng-app="cuttleGame">
<body>
	<script type='text/javascript' src='angular.min.js'></script>
	<script type='text/javascript' src='app.js'></script>
	<link rel="stylesheet" href="index.css" />

	<div id='deck' ng-controller='gameWrapController as gameWrap'>
		<button ng-click="gameWrap.drawP0()">P0 Draw</button>
		<button ng-click="gameWrap.drawP1()">P1 Draw</button>

		<div id="op_wrap">
			<div class='hand_wrap'>
				<img ng-repeat="card in gameWrap.game.p0.hand" class='card' id="{{card.img}}" ng-src="{{card.img}}" alt="{{card.alt}}"></img>
			</div>
		</div>
		
		<div id="you_wrap">
			<div class='hand_wrap'>
				<img ng-repeat="card in gameWrap.game.p1.hand" class='card' id="{{card.img}}" ng-src="{{card.img}}" alt="{{card.alt}}"></img>
			</div>
		</div>		
		<img ng-repeat='card in gameWrap.game.deck' class='card' id= '{{card.img}}' ng-src="{{card.img}}" alt='{{card.alt}}'></img>
		<img ng-source='{{gameWrap.source_test}}' id='{{gameWrap.source_test}}'></img>
		
	</div>
</body>
</html>